footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    background-color: #ffffff;
}

.footer-section {
 font-size: 15px;
 color: #666;
 padding: 10px 20px;
 
}
.footer-section h2 {
    font-size: 20px;
    font-weight: bold;
   }
.footer-section h6 {
    text-align: left;
    margin-top:20px;
}

.footer-icon {
    background-color: #ffffff;
    color: #1259c3;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 2em;
    margin: auto;
    transition: all;

}
.footer-icon:hover{
    color:#39b54a;
}

@media (min-width: 481px) {

}

@media (min-width: 769px) {
    .footer-nav {
        display: flex;
        flex-direction: row;
    }
  
}